flask==3.0.3
gunicorn==22.0.0

APScheduler==3.10.4

google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0

google-generativeai==0.6.0
tavily-python==0.3.3

sendgrid==6.11.0

Jinja2==3.1.4
Markdown==3.6

prometheus-flask-exporter==0.23.1
prometheus-client==0.20.0

python-dotenv==1.0.1

streamlit==1.37.0
pandas==2.2.2
requests==2.32.3

pytest==8.3.2